* {
    margin: 0;
    padding: 0;
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    box-sizing: border-box;
}


html{
   scroll-behavior: smooth;
}

p {
   font-family: sans-serif;
}

body {
    background-color: #080808;
    color: #fff;
}
/* Canvas   

.canvas-container{
   position: absolute;
   left: 53%;
   width: 550px;
   height: 530px;
   background-color: #080808;
   bottom: 0px;
   
   
}

#canvas1{
   width: 100%;
   height: 100%;
}

/* Canvas   */


#header {
  width: 100%;
  height: 100vh;
  background-image: url('Portfolio-NP.png');
  background-size: cover;
}

.container {
 padding: 10px 10%;

}

nav{
    
   
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 120px;
    margin-top: 70px;
   
    

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a {
   display: inline-block;
   padding: 10px 20px;
   font-size: 13px;
   font-weight: bold;
   color: white;
   text-decoration: none;
   text-transform: uppercase;
   background: linear-gradient(145deg, #200000, #600000);
   border: 2px solid #ff0000;
   box-shadow: 4px 4px 10px rgba(255, 0, 0, 0.7), inset 0 0 5px rgba(255, 0, 0, 0.5);
   transition: all 0.2s ease-in-out;
   position: relative;
   border-radius: 10px;
   font-family: "Press Start 2P", system-ui;
   
}

nav ul li a:active{
   box-shadow: inset 4px 4px 10px rgba(255, 0, 0, 0.7), inset -3px -3px 8px rgba(0, 0, 0, 1);
    transform: translateY(1px);
}

nav ul li a:hover{
   background: linear-gradient(145deg, #600000, #200000);
   box-shadow: 2px 2px 10px rgba(255, 0, 0, 1), inset -2px -2px 8px rgba(0, 0, 0, 1);
   transform: translateY(-10px);
    
 }

 .header-text{
    margin-top: 10%;
    font-size: 30px;

 }
 .header-text h1 {
    font-size: 50px;
    margin-top: 40px;
 }
 .header-text h1 span{
    color: #fd0000;
    font-size: 80px;
   font-family: "Press Start 2P", system-ui;
   font-weight: 400;
   font-style: normal;
 }

 /* About me */

 #about {
   padding: 80px 0;
   color: #ababab;
 }

 .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .about-col-1{
    flex-basis: 35%;
 }

 .about-col-1 img {
    width: 100%;
    border-radius: 15px;
 }

 .about-col-2{
    flex-basis: 60%;
 }

 .sub-title{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    font-family: "Press Start 2P", system-ui;
 }

 .tab-tittles{
    display: flex;
    margin: 20px 0 40px;
 }

 .tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
 }

 .tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #fd0000;
    left: 0;
    bottom: -8px;
    position: absolute;
    transition: 0.5s;
 }

 .tab-links.active-link::after{
    width: 50%;

 }

 .tab-contents ul li{
  list-style: none;
  margin: 10px 0;

 }

 .tab-contents ul li span{
   font-size: 14px;
   color:#fd0000;
 }

 .tab-contents{
   display: none;
 }

 .tab-contents.active-tab{
   display: block;
 }

.about-me-info{
   font-size: 15px;
}
 /* SERVICES */

 #services{
   padding: 30px 0;
 }

 .services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
 }

 .services-list div {
   background: #262626;
   padding: 40px;
   font-size: 13px;
   font-weight: 300;
   border-radius: 15px;
   transition: background 0.5s, transform 0.5s;
 }

 .services-list i{
   font-size: 30px;
   margin-bottom: 30px;
 }
 .services-list h2{
   font-size: 30px;
   font-weight: 500;
   margin-bottom: 15px;
 }

 .services-list a{
   font-size: 14px;
   text-decoration: none;
   display: inline-block;
   margin-top: 20px;
 }

 .services-list div:hover{
    border: 5px solid #fd0000;
    transform: translateY(-15px);
 }

      /* Portfolio */
      
#portfolio{
   padding: 50px 0;
}

.work-list{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
   grid-gap: 40px;
   margin-top: 50px;

}

.work{
   border-radius: 10px;
   position: relative;
   overflow: hidden;
}

.work img{
   width: 100%;
   border-radius: 10px;
   display: block;
   transition: transform 0.5s;
}

.layer{
   width: 100%;
   height: 0;
   background: linear-gradient(rgba(0,0,0,0.6), #ff0000);
   border-radius: 10px;
   position: absolute;
   left: 0;
   bottom: 0;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 40px;
   flex-direction: column;
   text-align: center;
   font-size: 14px;
   transition: height 0.5s;
}

.layer h3{
   font-weight: 500;
   margin-bottom: 20px;
}
.layer a{
   background: #fff;
   width: 60px;
   height: 60px;
   color: #fd0000;
   text-decoration: none;
   font-size: 18px;
   line-height: 60px;
   text-align: center;
   border-radius: 60%;
   margin-top: 20px;
}

.work:hover img{
   transform: scale(1.1);
}

.work:hover .layer{
   height: 100%;
}
.btn{
   display: block;
   text-decoration: none;
   color: #fff;
   border: 2px solid #fd0000;
   width: fit-content;
   margin: 50px auto;
   border-radius: 10px;
   padding: 14px 50px;
   transition: background 0.7s;
   
}

.btn:hover{
   background: #ff0000;
   border: 2px solid #2e2c2c;
   color: black;
}

/* contact */

.contact-left{
   flex-basis: 35%;
}

.contact-right{
   flex-basis: 60%;
}

.contact-left p{
   margin-top: 20px;
}
.contact-left h1{
   font-size: 60px;
   
}

.contact-left p i{
   margin-right: 15px;
   color: #fd0000;
   font-size: 25px;
}
.social-icons{
   margin-top: 20px;
}

.social-icons a{
   text-decoration: none;
   font-size: 30px;
   margin-right: 15px;
   color: #ff0000;
   display: inline-block;
   transition: transform 0.5s;
}
.social-icons a:hover{
   color: #fd0000b0;
   transform: translateY(-5px);
}

.btn.btn2{
   display: inline-block;
   width: 70%;
   text-align: center;
}
.btn.btn3{
   background: #fd0000;
   color: #080808;
   font-size: xx-large;
   text-decoration: none;
   cursor: pointer;
}

.contact-right form{
   width: 100%;
}

form input, form textarea{
   width: 100%;
   border: 0;
   outline: none;
   background: #262626;
   padding: 15px;
   margin: 15px;
   color: #fff;
   font-size: 18px;
   border-radius: 7px;
   resize: none;
}

.Copyright{
   color: #313131;
   font-size: 15px;
   text-align: center;
}

nav .fas{
   display: none;
}
#me{
   color: #fd0000;
}

@media only screen and (max-width: 600px){
   
   #header{
      background-image: url('Frank-PH1.png');
   }
   .header-text{
      margin-top: 85%;
      font-size: 16px;
   }

   .header-text h1{
      font-size: 20px;
   }
   
   #cordero-span{
      font-size: 45px;
      margin-left: -15px;
   }
   .logo{
      width: 70px;
      
   }
   nav .fas{
      display: block;
      
   
   }
   nav ul{
      background: #ff0004;
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      z-index: 2;
      transition: right 0.5s;
   }

   nav ul li{
      display: block;
      margin: 25px;
   }
   nav ul .fas{
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
   }
   #menu-icon{
      cursor: pointer;
      
   }

   .sub-title{
      font-size: 35px;
   }
   #sub-title-contact{
      font-size: 35px;
   }
 
   .about-col-1, .about-col-2{
      flex-basis: 100%;
      margin-bottom: 30px;
   }
   .about-col-2{
      font-size: 14px;
   }

   .tab-links{
      font-size: 15px;
      margin-right: 20px;
   }

   .contact-left, .contact-right{
      flex-basis: 98%;
      
}


#msg{
   color: #2e2c2c;
   margin-top: -40px;
   display: block;
}

}