* {
    margin: 0;
    padding: 0;
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    box-sizing: border-box;
}


html{
   scroll-behavior: smooth;
}

p {
   font-family: sans-serif;
   text-align: justify;
}

body {
    background-color: #080808;
    color: #fff;
}
/* homepage */

.main-container {
display: grid;
place-content: center;

}

.container {
   background-color: red;
   border-radius: 80px;
   display: flex;
   flex-direction: row;
   justify-content: space-between
}

.nav-links-container {
   display: flex;
   gap: 40px;
   flex-direction: column;
   padding: 40px;
}

img[alt="home"], img[alt="about"], img[alt="projects"], img[alt="services"], img[alt="contact"]{
  background-color: black;
  border-radius: 45px;
  padding: 25px;
  cursor: pointer;
}


/* home styles */
.home {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: black;
   border-radius: 80px;
}
.home-title {
   font-size: 50px;
   font-weight: bold;
   background-color: red;
}


